/**
 * base styles and typography
 * ---------------
 */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  /* primary color */
  --soft-red-clr: #ffc5b0;
  --light-red-clr: #e62e16;
  --yellow-clr: #fff6da;
  --dark-cyan-txt: #25564b;
  --dark-blue-clr: #19536b;
  --dark-cyan-clr: #458c7e;

  /* neutral color*/
  --darker-blue-clr: #23303e;
  --darker-gray-blue-clr: #5a636c;
  --dark-gray-blue-clr: #a7abae;
  --white-clr: #ffffff;
}

/*******************
   Base styles
   *******************/
html {
  font-size: 62.5%;
  font-family: "Barlow", sans-serif;
  line-height: 1.4;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

img {
  aspect-ratio: 1/1;
  object-fit: contain;
}

.content {
  width: min(144rem, 100%);
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "header"
    "content";
}

/* header */
header {
  grid-area: header;
  background-color: var(--darker-blue-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8em;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 2em;
  font-family: "Fraunces", serif;
}

.nav__item {
  color: var(--white-clr);
  font-size: 2.2rem;
  padding: 0.2em 1em;
}

.nav__item:hover,
.nav__item:focus {
  color: var(--dark-cyan-clr);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

/* body */
.dynamic-content {
  grid-area: content;
}

/* Home */
.hero-container {
  min-height: 89vh;
  color: var(--white-clr);
  background-color: var(--dark-gray-blue-clr);
  background-image: url("../img/hero-bg-medium.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 10em 8em;
}

.hero__title {
  font-family: "Fraunces", serif;
  font-size: 6.4rem;
}

.hero__text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3em;
}

.btn {
  color: var(--white-clr);
  font-size: 1.8rem;
  border-radius: 4px;
  border: 2px solid var(--white-clr);
}

.btn:hover,
.btn:focus {
  color: var(--darker-blue-clr);
  background-color: var(--white-clr);
}
/* Menu */
.menu {
  background-color: var(--yellow-clr);
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "title"
    "menu";
}

.menu__title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
  font-size: 5rem;
  color: var(--dark-cyan-clr);
}

.menu__title > img {
  width: min(5rem, 100%);
}

.menu__wrapper {
  grid-area: menu;
  width: min(120rem, 100%);
  margin: 0 auto 6rem;
  background-color: var(--soft-red-clr);
  border-radius: 8px;
  padding: 6em;
  display: grid;
  gap: 6em;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}

.menu__item {
  display: flex;
  gap: 1em;
}

.menu__text {
  padding-top: 4em;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.menu__dish {
  font-family: "Fraunces", serif;
  font-size: 2rem;
}

.menu__dish > span {
  font-size: 1.4rem;
  color: var(--light-red-clr);
  margin-left: 1em;
  font-style: italic;
}

.menu__description {
  font-size: 1.8rem;
  width: min(30rem, 100%);
}

.menu__img,
.menu__img > img {
  width: min(20rem, 100%);
}

/* Contact */
.contact {
  min-height: 90vh;
  background-color: var(--yellow-clr);
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "title"
    "contact";
}

.contact__title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
  font-size: 5rem;
  color: var(--dark-cyan-clr);
}

.contact__wrapper {
  grid-area: contact;
  width: min(120rem, 100%);
  margin: 0 auto 6rem;
  background-color: var(--soft-red-clr);
  border-radius: 8px;
  padding: 6em 8em;
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 2fr;
}

.contact__info {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(6rem, 1fr));
}

.contact__info > * {
  display: flex;
  align-items: center;
  gap: 1em;
}

.info__phone,
.info__hours,
.info__address {
  font-size: 1.8rem;
}

.info__icon,
.info__icon > img {
  width: min(3rem, 100%);
}

/* utilities */
.active {
  color: var(--dark-cyan-clr);
}
